# Created by .ignore support plugin (hsz.mobi)
/user-center/build/
/order-center/build/
/api/build/
/build/
/.gradle/
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
